* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  color: white;
  background: none;
  border-radius: 0;
  padding: 10px 16px;
  float: right;
  font-size: 0.7em;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  margin: 16px;
}

.btn {
  -webkit-box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
          box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
  border: #fb5454 solid 2px;
}

.btn:hover {
  background-color: #fb5454;
  -webkit-box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
          box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
}

.btn-affirmative {
  color: white;
  background: none;
  border-radius: 0;
  padding: 10px 16px;
  float: right;
  font-size: 0.7em;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  margin: 16px;
}

.btn-affirmative {
  -webkit-box-shadow: inset 0 0 1em rgba(55, 19, 214, 0.4), 0 0 1em rgba(55, 19, 214, 0.4);
          box-shadow: inset 0 0 1em rgba(55, 19, 214, 0.4), 0 0 1em rgba(55, 19, 214, 0.4);
  border: #5735d3 solid 2px;
}

.btn-affirmative:hover {
  background-color: #5735d3;
  -webkit-box-shadow: inset 0 0 0 rgba(55, 19, 214, 0.4), 0 0 1.5em rgba(55, 19, 214, 0.4);
          box-shadow: inset 0 0 0 rgba(55, 19, 214, 0.4), 0 0 1.5em rgba(55, 19, 214, 0.4);
}

body {
  min-height: 100vh;
  background-color: #1e1e2e;
}

.container {
  width: 1000px;
  height: 580px;
  background-color: #543864;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-right: solid #ff6464;
  text-align: center;
}

.login-img h1 {
  margin-bottom: 50px;
}

.login-img img {
  width: 450px;
  margin-left: 50px;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.login-container img {
  width: 70px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.login-container h2 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.login-container h5 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.form {
  width: 100%;
  background: none;
  border: 1px solid #ff6464;
  padding: 8px 50px;
  border-radius: 50px;
  letter-spacing: 1px;
  color: white;
}

@media (max-width: 900px) {
  .login-container {
    width: 100%;
  }
  .login-img {
    display: none;
  }
  .container {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    width: 100%;
    background: none;
    border: 1px solid #ff6464;
    padding: 8px 30px;
    border-radius: 50px;
    letter-spacing: 1px;
    color: white;
  }
}
/*# sourceMappingURL=login.css.map */