$primary-color: #ff6464;
$secondary-color: #8b4367;
$tertiary-color: #543864;
$bg-color: #1e1e2e;
$nav-width: 92px;

//Saya taruh disini agar bisa digunakan kembali dengan diimport ke SASS
.btn {
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 10px 16px;
  float: right;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 16px;
  & {
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4),
      0 0 1em rgba(251, 81, 81, 0.4);
    border: #fb5454 solid 2px;
  }
  &:hover {
    background-color: #fb5454;
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4),
      0 0 1.5em rgba(251, 81, 81, 0.6);
  }
}
.btn-affirmative {
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 10px 16px;
  float: right;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 16px;
  & {
    box-shadow: inset 0 0 1em rgba(55, 19, 214, 0.4),
      0 0 1em rgba(55, 19, 214, 0.4);
    border: #5735d3 solid 2px;
  }
  &:hover {
    background-color: #5735d3;
    box-shadow: inset 0 0 0 rgba(55, 19, 214, 0.4),
      0 0 1.5em rgba(55, 19, 214, 0.4);
  }
}

//styling form untuk keseluruhan website agar bisa digunakan kembali
@mixin form($size) {
  width: 100%;
  background: none;
  border: 1px solid $primary-color;
  padding: 8px $size;
  border-radius: 50px;
  letter-spacing: 1px;
  color: white;
}

@mixin scrollbars(
  $size,
  $front-color,
  $background-color: mix($front-color, white, 50%)
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $front-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}
