@import "variables";
@import "resets";

body {
  @include scrollbars(10px, $primary-color, $bg-color);
  padding: 2em 0 0 6.75rem;
  transition: 0.5s;
}
h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100vh;
  background-color: $tertiary-color;
  color: #fff;
  padding: 1.5rem 1.5rem 2rem;
  transition: 0.5s;
  z-index: 100;
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.head_nav {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav_toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}
.nav_logo {
  color: #fff;
  font-weight: 600;
}
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav_link:hover {
  background-color: $primary-color;
}
.nav_icon {
  font-size: 1.25rem;
}

/* pembesaran */
.expand {
  width: calc(92px + 9.25rem);
}

/* nambah padding di body */
.body-all {
  padding: 2rem 0 0 16rem;
}

/* link active */
.active {
  background-color: $secondary-color;
}

/* drop down menu */
.collapse {
  grid-template-columns: 23px max-content 1fr;
}

.sub-menu {
  justify-self: flex-end;
  transition: 0.5;
}
.collapse_menu {
  display: none;
  padding: 0.75rem 2.25rem;
}
.collapse_sublink {
  color: #b6cefc;
  font-size: 0.7rem;
}
.collapse_sublink:hover {
  color: #fff;
}
.reset-size {
  width: 200px;
  margin-top: 10px;
}

/* keluarkan menu */
.showCollapse {
  display: inline-block;
}
.rotate {
  transform: rotate(180deg);
}
