@import "_resets.scss";
@import "_variables.scss";
@import "_table.scss";

body {
  background-color: $bg-color;
  transition: ease-in 0.5s;
}
.flex-bagian1 {
  display: flex;
  justify-content: center;
}
.form {
  @include form(30%);
  margin-top: 10px;
}
