@import "_resets.scss";
@import "_variables.scss";

body {
  background-color: $bg-color;
}

.container-input {
  margin-top: 30px;
  width: 1000px;
  height: 580px;
  background-color: #27293d;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  h1 {
    color: white;
    text-align: center;
  }
}
.margin-helper {
  margin-top: 10%;
}
.import-barang {
  margin: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  textarea {
    resize: none;
    height: 100px;
  }
  .splitter-flex {
    margin-right: 20px;
    width: 30%;
  }
  .splitter-flex2 {
    width: 30%;
  }
  .form {
    @include form(100%);
    margin-top: 10px;
  }
  p {
    text-align: center;
    color: white;
  }
}
