@import "_resets.scss";
@import "_variables.scss";
@import "_table.scss";

body {
  background-color: $bg-color;
  transition: ease-in 0.5s;
}
.form {
  @include form(80%);
  margin-top: 10px;
}
.search-container {
  margin-top: 30px;
  width: 80%;
  height: 250px;
  background-color: #27293d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.flex-bagian1 {
  display: flex;
  justify-content: center;
}
.container-pemasukkan {
  margin-top: 30px;
  width: 30%;
  min-height: 300px;
  background-color: #27293d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-pengeluaran {
  margin-top: 30px;
  width: 30%;
  min-height: 300px;
  background-color: #27293d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-bagian2 {
  display: flex;
  justify-content: space-evenly;
}
